div div div {
  padding: 10px;
  margin: 10px 10px 10px 10px;
  background-color: #33ccff;
  width: 50px;
  height: 150px;
  cursor: pointer;
}

.objects {
  border: 4px solid black;
  border-radius: 5px;
}

.objects img {
  height: 100%;
}

.hiden-img {
  display: none;
}

.reset {
  background-color: red;
  border: 4px solid black;
  width: 150px;
  height: 100%;
  cursor: pointer;
}

.center {
  margin-left: 15%;
}
